@{
    ViewBag.Title = "ABOUT ";
}
<h1 style="color:peru">FEED KIDS ESWATINI</h1>
<h2 style="color:peru">About us</h2>
<p>Feed the kids eswatini aims to feed the less privileged children across the country.
    FKES has provided more than 20,000 kids from different 20 care points with food parcels and school shoes over the 3 years.</p>
<br />
<h2 style="color:peru">Our vision</h2>
<p>
    No child must go to sleep on an empty stomach.
</p>
<br />
<h2 style="color:peru">Our values</h2>
<p>
    <ul>
        <li>Community involvement and inclusivity</li>
        <li>Leadership and vision</li>
        <li> Responsibility, Accountability and transparency</li>
    </ul>
</p>

<style>
    h1 {
        text-align: center;
    }
</style>

