
@{
    ViewBag.Title = "Activities";
}
<br />
<h1 style="color:peru">FEED KIDS ESWATINI </h1>

<div class="container">
    <div class="row">
        <div class="col-12">
            <table class="table table-image">
                <thead>
                    <tr>
                        <th scope="col">Image</th>
                        <th scope="col">Decription of Event</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="w-25">
                            <img src="~/IMAGES/about us.jpg" class="img-fluid img-thumbnail" />
                        </td>
                        <td>This is a summary of the activities we parttake in as FeedKidsEswatini.We've donated food parcels to needy families,building material,school shoes to students</td>
                    </tr>
                    <tr>
                        <td class="w-25">
                            <img src="~/IMAGES/shoes and kids.jpg" class=" img-fluid img-thumbnail" />
                        </td>
                        <td>Donated school shoes to Mbabane Central Primanry school kids</td>
                    </tr>
                    <tr>
                        <td class="w-25">
                            <img src="~/IMAGES/feed kids - food.jpg" class="img-fluid img-thumbnail" />
                        </td>
                        <td>
                            Valley Butchery in malkerns joined hands with the foundation to feed 150 kids from Mangozeni care point.
                        </td>
                    </tr>
                    <tr>
                        <td class="w-25">
                            <img src="~/IMAGES/house.jpeg" class="img-fluid img-thumbnail" />
                        </td>
                        <td>
                            We were given an opportunity to fullfill Mr Dlamini's dream which was having a house that is in good condition
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<style>
    .container {
        padding: 2rem 0rem;
    }

    h4 {
        margin: 2rem 0rem 1rem;
    }

    .table-image {
        td,th

    {
        vertical-align: middle;
    }

    }

    h1 {
        text-align: center;
    }

    body {
        background-color: dimgrey;
    }
</style>
    