
@{
    ViewBag.Title = "Class";
}


<div class="flex-child green">
    <h3 style= "color:peru; margin-left:20%" >Class structure diagram</h3>
    <br />
    <img style="margin-left:20%; width:80%" src="~/IMAGES/class_structure_final.jpg"/>

</div>
<style>
    body {
        background-color: dimgrey;
    }
</style>
