@{
    ViewBag.Title = "Contact";
}
<h1 style="color:peru">FEED KIDS ESWATINI</h1>

<h2 style="color:peru">Contact us</h2>

<address>
    Full Name: Sifiso Ndlangamandla<br />
    Phone number: (+268) 78637196<br />
    Email Address: illapenboydaily@gmail.com<br />
    Position: Founder<br />


</address>

<address>
    <strong>Website:</strong><a href="http://illapenboyfoundation.org/">http://illapenboyfoundation.org/</a><br />
    <strong>Facebook:</strong><a href="https://m.facebook.com/feedkidseswatini/">https://m.facebook.com/feedkidseswatini/</a><br />
</address>
<style>
    h1 {
        text-align: center;
    }
    body {
        background-color: dimgrey;
    }
</style>