
@{
    ViewBag.Title = "Narrative";
}

<h3 style="color:peru; margin-left:20%">Use case Narrative</h3>
<div class="container">

        <div class="row">
            <div class="col-md-4">
                <div class="thumbnail">

                        <img src="~/IMAGES/1.1.jpeg" alt="Lights" style="width:100%">
                        <div class="caption">
                        </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">

                        <img src="~/IMAGES/1.2.jpeg" alt="Nature" style="width:100%">
                        <div class="caption">
                        </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                        <img src="~/IMAGES/1.3.jpeg" alt="Fjords" style="width:100%">
                        <div class="caption">
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="thumbnail">
                        <img src="~/IMAGES/1.4.jpeg" alt="Fjords" style="width:100%">
                        <div class="caption">
                        </div>
                </div>
            </div> 
            <div class="col-md-4">
                <div class="thumbnail">
                        <img src="~/IMAGES/1.5.jpeg" alt="Fjords" style="width:100%">
                        <div class="caption">
                        </div>
                </div>
            </div>
        </div>
    </div>
<style>
    body {
        background-color: dimgrey;
    }
</style>


